body{
  background-color: #ececec;
}
.container{
  max-width: 1100px;
}
.mydrag {
  height: 100%;
  background: #00203FFF;
  padding: 30px 30px;
  border-radius: 45px;
}
.dragdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.boxess {
  background: #ADEFD1FF;
  padding: 12px 12px;
  border-radius: 8px;
  height: 100%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.boxess a {
  text-decoration: none;
  display: inline-block;
  background-color: #00203FFF;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  width: 28px;
  height: 24px;
  text-align: center;
}
.boxess:hover a{
  display: block;
}
.myHead h1{
  color:#ffff;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.myboxinput {
  padding-bottom: 20px;
  display: flex;
  width: 50%;
  margin: 0 auto;
}
.myboxinput input {
  border-radius: 0;
  border: none;
  padding: 12px 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.myboxinput button {
  border: none;
  padding: 0 40px;
  background-color: #ADEFD1FF;
}